<p-toolbar>
    <div class="p-toolbar-group-left">
        <p-button icon="pi pi-bars"class="visible-md" (click)="toggleSidebar()">
        </p-button>
    </div>
    <div class="nav-brand">
        Shift-System
    </div>
    <div class="hidden-sm" style="margin-left: 20px; margin-top: 5px">
    </div>
    <span class="nav-spacer"></span>

    <div class="p-toolbar-group-right">
        <p-button icon="pi pi-user"></p-button>
        <p-button icon="pi pi-cog"></p-button>
        <p-button icon="pi pi-sign-out" ></p-button>
    </div>
</p-toolbar>