/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Fontil Sans';
}

.main-container {    
    position: absolute;
    top: 64px;
    left: 0px;
    right: 0;
    bottom: 0;
    padding: 20px;
}

#sidebar {
    width: 230px;
    position: fixed;
    top: 56px;
    bottom: 0;
    background: #f4f4f4;
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
    z-index: 999;
    -ms-overflow-y: auto;
    overflow-y: auto;
    left: -250px;
}

.push-right  .main-container {
    left: 250px;
}


.push-right #sidebar{
    left: 0; 
}